<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>File Claim</title>\
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </head>
  <body>

    <div class="container">
      <form method = "POST" enctype="multipart/form-data">
        <input type="file" name = "photo">
        <input type="textarea" name = "chatlog">
        <input type="submit">
      </form>
    </div>

  </body>
</html>
